* {
  box-sizing:border-box;
}

body {
  margin:0;
  padding:0;
}

#board {
  display:grid;
  
  background:transparent;
  padding-bottom: 100px;
}

#controls {
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:1em;
  position:fixed;
  bottom:0;
  width: 100%;
  height:100px;
  background-image: linear-gradient(#666,#333);
  border-top: 4px solid #444;
}

#controls #logo:hover {
  cursor: pointer;
}

#energy-meter {
  display:flex;
  width: 400px;
  background:#222;
  padding: 0 4px;
  border-radius: 5px;
}

#mix {
  display:flex;
  flex:1;
  background:#333;
}

.fossil-value {
  display:flex;
  background:red;
  width: 20%;
}

.renewable-value {
  display:flex;
  background:green;
  width: 40%;
}

.blank-value {
  display:flex;
  background:transparent;
  flex:1;
}

#menu {
  position:fixed;
  top: 1em;
  right:1em;
  width: 200px;
  height: calc(100% - 100px - 2em);
  background-image: linear-gradient(#666,#333);
  border-radius: 5px; 
}

#popup {
  width: 90vw;
  height: calc(90vh -  100px);
  background:rgba(0,0,0,.9);
  position: fixed;
  border: 5px solid  #111;
  border-radius:10px;
  color:white;
  margin:0;
  margin-left: 5vw;
  padding: 1em;
  margin-top: 5vh;
}

#popup nav {
  display:flex;
  justify-content: stretch;
}

#popup nav button {
  flex:1;
}

.hidden {
  display:none;
}
