#board > div {
  width: 100px;
  height: 100px;
}

[data-terrain=grass] {
  background-image: url(img/terrain/grass.svg);
}

[data-terrain=water] {
  background-image: url(img/terrain/water.svg);
}

[data-terrain=concrete] {
  background-image: url(img/terrain/concrete.svg);
}
