#board > div {
  width: 100px;
  height: 100px;
}

.grass {
  background-image: url(img/terrain/grass.svg);
}

.water {
  background-image: url(img/terrain/water.svg);
}

.concrete {
  background-image: url(img/terrain/concrete.svg);
}
